.john {
  height: 100vw;
  width: 800px;
  background-color: red;
}

.img-thumbnail {
  max-width: 200px;
}

.table-title {
  color: #666666 !important;
  font-weight: 400;
}

tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff !important;
}

.table {
  padding: .5rem .5rem;
  background-color: #fff !important;
  border-bottom-width: 1px;
}

th {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

td {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 60px;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-data {
  font-weight: 600;
  background-color: #fff !important;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
